language: ruby
before_install: 
  - "cd extentions"
  - "gem install bundler --pre"
before_script:
  - "bundle exec rake test_app"
script: "DISPLAY=:99.0 bundle exec rspec spec"
notifications:
  email:
    - congdang@asnet.com.vn
branches:
  only:
    - master
rvm:
  - 2.2.2