language: ruby

rvm:
  - 2.2.2

before_install: 
  - "cd extentions/spree_simple_sales"
 
before_script:
  - "bundle install"	
  - "bundle exec rake -t test_app"

script: "DISPLAY=:99.0 bundle exec rspec spec"

notifications:
  email:
    - congdang@asnet.com.vn
branches:
  only:
    - master